* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, Verdana, sans-serif;
}

header,
footer,
.hero {
  background-color: #1f2937;
  color: white;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
